@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome for learning EF Core-SQL</h1>
    <p>Learn about EF and SQl at the Same time Please  use debuger for each Action to UnderStand What Happen</p>
</div>
