@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about EF and SQl at hte Same time Please  use debuger for each Action to UnderStand What Happen</p>
</div>
